<!-- <h1>Listing homes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @homes.each do |home| %>
      <tr>
        <td><%#= link_to 'Show', home %></td>
        <td><%#= link_to 'Edit', edit_home_path(home) %></td>
        <td><%#= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Home', new_home_path %> -->



<h1 class="title"><span              class="colortitle">Profile</span> page</h1>

<div class="iphone">
  <div class="screen">
    <section class="profile">
      <div class="transit">
         <img class ="ha"      src="http://rhuthmos.eu/IMG/jpg/27Sol_Lewitt_Wall.jpg" />
         <img class ="ho"        src="http://fc06.deviantart.net/fs71/f/2009/343/2/b/Crimson_Sea_I_by__zagadka_.png"/>
      </div>
      
      <div class="picture">
        <div class="profilrond"></div>
        <img class ="profille" src="http://img.imagesia.com/fichiers/cj/prof-01_imagesia-com_cjzo.png" />
      </div>
      
      <div class="fondnom">
        <h1>Beneteau Maxime</h1>
      </div>
      
      <h1 class="description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</h2>
      
      <nav>
        <ul id="navigation">
          <li><a href="#" title="aller à la section 1">movies</a></li>
          <li><a href="#" title="aller à la section 1">books</a></li>
          <li><a href="#" title="aller à la section 1">hobbies</a></li>
        <ul>
      </nav>
          
    </section>
    
    <section class=header>
      <h1>PROFILE</h1>
      <div class="home">
        <div class="carre"></div>
        <div class="carre1"></div>
        <div class="carre2"></div>      
      </div>
      <div class="loupe">
        <div class="circle"></div>  
        <div class="baton"></div>
      </div>
    </section>
        
  </div>
  <div class="button"></div>
</div>
